<div class="dashboard-layout">

    <!--  SIDEBAR -->
    <aside class="sidebar">

        <!-- Logo -->
        <div class="sidebar-logo">
            <div class="logo-mark">
                <i class="pi pi-shield"></i>
            </div>
            <span>AuthShield</span>
        </div>


        <!-- Overview -->
        <div class="sidebar-section">

            <nav class="sidebar-nav">

                <a routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
                    class="nav-item">

                    <i class="pi pi-home"></i>
                    <span>Dashboard</span>

                </a>


                <a routerLink="/users" routerLinkActive="active" class="nav-item">

                    <i class="pi pi-users"></i>
                    <span>Users</span>

                </a>

            </nav>

        </div>





        <!-- Sidebar bottom -->
        <div class="sidebar-footer">

            <div class="user-mini">

                <p-avatar label="A" shape="circle">
                </p-avatar>

                <div class="user-info">
                    <span class="user-name">User Name</span>
                    <span class="user-role">Admin</span>
                </div>

            </div>

        </div>

    </aside>



    <!-- Main dashboard box  -->
    <main class="main-content">


        <!--  Header -->
        <header class="dashboard-header">

            <div class="header-title">

                <h1>{{ isUsersPage ? 'Users' : 'Dashboard' }}</h1>
                <p>
                    {{ isUsersPage
                    ? 'View all your users here.'
                    : "Welcome back, here's what's happening in your team."
                    }}
                </p>

            </div>

        </header>


        <!-- Dashboard content will go here -->


        <section class="dashboard-content">

            <div class="employee-card">

                <!-- Employee Header -->
                <div class="employee-header">

                    <div>
                        <h2>Employees</h2>
                        <p>Manage and monitor your employees.</p>
                    </div>

                    <!-- Add Employee Button -->
                    @if (!isUsersPage) {
                    <p-button label="Add Employee" icon="pi pi-plus" styleClass="add-employee-button"
                        routerLink="/employees-add">
                    </p-button>
                    }

                </div>


                @if (deleteMessage) {
                <p-message severity="success">{{deleteMessage}}</p-message>

                }

                <!-- Employee Table -->


                <p-table [value]="employees" [paginator]="true" [rows]="7" [rowsPerPageOptions]="[7, 10, 20]"
                    styleClass="employee-table">

                    <!-- Header -->
                    <ng-template #header>

                        <tr>
                            <th>Employee ID</th>
                            <th>Name</th>
                            <th>Department</th>
                            <th>Designation</th>
                            <th>Email</th>
                            <th>Status</th>
                            @if (!isUsersPage) {<th>Actions</th>}

                        </tr>

                    </ng-template>


                    <!-- Body -->
                    <ng-template #body let-employee>

                        <tr>

                            <td>
                                {{ employee.employeeId }}
                            </td>

                            <td>
                                <span class="employee-name">
                                    {{ employee.firstName }} {{ employee.lastName }}
                                </span>
                            </td>

                            <td>
                                {{ employee.department }}
                            </td>

                            <td>
                                {{ employee.designation }}
                            </td>

                            <td>
                                {{ employee.email }}
                            </td>

                            <td>
                                <p-tag [value]="employee.status"
                                    [severity]="employee.status === 'Active' ? 'success' : 'danger'">
                                </p-tag>
                            </td>

                            @if (!isUsersPage) {

                            <td>

                                <div class="employee-actions">

                                    <!--edit button-->
                                    <p-button icon="pi pi-pencil" [text]="true" severity="secondary"
                                        ariaLabel="Edit employee" (onClick)="editEmployee(employee._id!)">
                                    </p-button>


                                    <!--delete button-->

                                    <p-button icon="pi pi-trash" [text]="true" severity="danger"
                                        ariaLabel="Delete employee" (onClick)="deleteEmployee(employee._id!)">
                                    </p-button>




                                </div>

                            </td>
                            }


                        </tr>

                    </ng-template>

                </p-table>



            </div>

        </section>





        <p-confirmdialog></p-confirmdialog>


    </main>

</div>