<div class="register-container">
    <div class="register-card">

        <div class="register-header">
            <h1>Create Account</h1>
            <p>Join AuthShield today.</p>
        </div>

        <form #registerForm="ngForm" class="register-form" (ngSubmit)="register(registerForm)">

            <!-- Full Name -->
            <div class="input-group">
                <label for="fullName">Full Name</label>

                <input pInputText id="fullName" type="text" placeholder="Enter your full name" [(ngModel)]="name"
                    name="name">

            </div>

            <!-- Email -->
            <div class="input-group">
                <label for="email">Email Address</label>

                <input pInputText id="email" type="email" placeholder="Enter your email" [(ngModel)]="email"
                    name="email" required email pattern="^[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}$">

                <small *ngIf="emailError" style="color: red; font-size: 13px;">
                    {{ emailError }}
                </small>


            </div>

            <!-- Password -->
            <div class="input-group">
                <label for="password">Password</label>

                <p-password inputId="password" [feedback]="false" [toggleMask]="true" placeholder="Create a password"
                    [(ngModel)]="password" (ngModelChange)="passwordChanged()" name="password" #passwordField="ngModel"
                    [pattern]="passwordPattern" required>
                </p-password>

                <div *ngIf="password.length > 0" class="password-requirements">

                    <div [class.valid]="hasMinLength()">
                        <span class="requirement-icon">
                            {{hasMinLength()? '✔' : '✖'}}
                        </span>
                        <span>At least 8 characters</span>
                    </div>

                    <div [class.valid]="hasUppercase()">
                        <span class="requirement-icon">
                            {{hasUppercase()? '✔' : '✖'}}
                        </span>
                        <span>At least one uppercase letter</span>
                    </div>

                    <div [class.valid]="hasLowercase()">
                        <span class="requirement-icon">
                            {{hasLowercase()? '✔' : '✖'}}
                        </span>
                        <span>At least one lowercase letter</span>
                    </div>

                    <div [class.valid]="hasNumber()">
                        <span class="requirement-icon">
                            {{hasNumber()? '✔' : '✖'}}
                        </span>
                        <span>At least one number</span>
                    </div>

                    <div [class.valid]="hasSpecialCharacter()">
                        <span class="requirement-icon">
                            {{hasSpecialCharacter()? '✔' : '✖'}}
                        </span>
                        <span>At least one special character (@, $, !, %, *, ?, &)</span>
                    </div>

                </div>

                <!-- Confirm Password -->
                <div class="input-group">
                    <label for="confirmPassword">Confirm Password</label>

                    <p-password inputId="confirmPassword" [feedback]="false" [toggleMask]="true"
                        placeholder="Confirm your password" [(ngModel)]="confirmPassword" name="confirmPassword"
                        required>
                    </p-password>
                </div>

                <!-- Register Button -->
                <p-button label="Create Account" icon="pi pi-user-plus" styleClass="w-full" type="submit">
                </p-button>
             </div>

        </form>

        <div class="divider">
            <span>OR</span>
        </div>

        <div class="login-link">
            Already have an account?
            <a routerLink="/login">Sign In</a>
        </div>

    </div>
</div>